<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <!--    <span th:replace="~{/composant/bootstrapImports :: bootstrapImports}"></span> -->
</head>
<body>
<header>

<div th:if="${connected}">
    <span th:replace="~{/composants/navHeaderLogin :: navHeaderLogin}"></span>
</div>

<div th:unless="${connected}">
    <span th:replace="~{/composants/navHeaderDefault :: navHeaderDefault}"></span>
</div>


</header>
<section>
    <h1 th:text="${connected} ? 'Encore a la porte du forum ?' : 'Bienvenue sur le forum inscrivez vous'"></h1>
</section>
</body>
</html>